.intro
{
    background-image: url("background-image.jpg");
    height:300px;
    background-size: cover;
    display: flex;
}


.greet
{
    margin-top:240px;
    background-color: white;
    height:30px;
    margin-left:150px;
    padding-right:150px;
    padding-left:150px;
    font-size:12px;
    padding-top:12px;
    font-weight:500;
}

.link
{
    text-decoration:none;
    color:rgb(54, 162, 205);
}

.link:hover
{
    text-decoration: underline;
}